<html>
  <META http-equiv="refresh" content="5;URL=https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html"></meta>
  <body>
    <script src="//rum-static.pingdom.net/pa-5c70eeb79a3f830016000801.js" async></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135002105-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-135002105-1');
    </script>
    version 0.1
    <a href="https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html" title="Covid USA">Covid cases in USA</a>
  </body>
</html>
